body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

#page-container {
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Prevents the image from being too tall */
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    margin-bottom: 10px;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    margin-top: 40px;
}
